{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true
  },
  "settings": {
    "import/core-modules": [
    "common",
    "helpers"
    ]
  }
}
